.angular-logo {
  max-width: 9.2rem;
}

h1 {
  margin-top: 1.75rem;
}

p {
  margin-top: 1.5rem;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.25rem;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
}
