.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

.textbox {
  border: 2px solid black;
  width: 300px;
  height: 30px;
  font-size: 24px;
}
